<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
  <key>CFBundleDisplayName</key>
  <string>WeTrack</string>
  <key>CFBundleName</key>
  <string>WeTrack</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>UILaunchScreen</key>
  <dict/>
  <key>NSCameraUsageDescription</key>
  <string>WeTrack uses the camera so you can add photo memories to your trip.</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>WeTrack lets you select photos for trip memories.</string>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>WeTrack may save trip memory photos when you choose to export or share them.</string>
  <key>UIViewControllerBasedStatusBarAppearance</key>
  <true/>
  <key>UIStatusBarStyle</key>
  <string>UIStatusBarStyleDefault</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
